<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Content/AdminStyle.css" rel="stylesheet" />



    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="wrapper">
        <nav class="navbar navbar-default hidden-lg">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><img src="~/Content/images/EventLogo.svg" width="150" /></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


                    @using (Html.BeginForm("GetEventsByName", "Events", FormMethod.Post, new { @class = "navbar-form navbar-right" }))
                    {
                        <div class="form-group has-feedback hidden">

                            <input type="text" class="form-control hidden" name="name" placeholder="skriv her hvad du søger" />
                            <i class="glyphicon glyphicon-search search form-control-feedback hidden"></i>
                        </div>

                        <button class="searchKnap hidden">Søg</button>
                    }

                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="@Url.Action("index", "Events")">Events</a></li>
                        <li><a href="@Url.Action("index", "Categories")">Kategorier</a></li>
                        <li><a href="@Url.Action("index", "Abouts")">About</a></li>
                        <li><a href="@Url.Action("index", "Contacts")">Kontakt</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>




        <aside class="sidebar visible-lg">
            <div class="row">
                <div class="col-md-12">
                    <a class="navbar-brand" href="#"><img src="~/Content/images/EventLogo.svg" width="150" /></a>
                    <nav class="AdminNav">
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="@Url.Action("Index", "Events")" class="menupunkter">Events</a></li>
                            <li><a href="@Url.Action("Index", "Categories")" class="menupunkter">Kategorier</a></li>
                            <li><a href="@Url.Action("Index", "Abouts")" class="menupunkter">About</a></li>
                            <li><a href="@Url.Action("Index", "Contacts")" class="menupunkter">Kontakt</a></li>
                        </ul>
                    </nav>
                </div>
            </div>


        </aside>
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    @RenderBody()
                </div>
            </div>
        </div>

        <div class="push"></div>
    </div>


    <footer class="">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-3">
                <p>
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    <br />
                    <a class="LoginKnap" href="@Url.Action("Logout", "Account", new { area = "" })" role="button">Log ud</a>
                </p>

            </div>

            <div class="col-md-3"></div>
        </div>

    </footer>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="~/Scripts/ModalScript.js"></script>
    <script src="Scripts/jquery-1.9.1.min.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>

    @RenderSection("scripts", false)
</body>
</html>

