@model IEnumerable<EventProjekt.Models.Event>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <h3>Nyheder</h3>
    <br />
    <div class="row">

        @foreach (var e in Model)
        {
            <div class="col-md-6 NyhedsBoks">
                <div class="thumbnail">
                    <img src="~/Content/images/@e.Image" class="img-responsive" alt="Responsive image" />
                   
                </div>
                <p>
                    <div class="BeskrivelseNyheds">
                        @e.Beskrivelse
                    </div>
                </p>
               <hr />
                <h5>Event start og slut tidpunkt:</h5>
                <span class="glyphicon glyphicon-time DetailIcon" aria-hidden="true"></span> @e.EventStart - @e.EventEnd<br />
                <span class="glyphicon glyphicon-map-marker DetailIcon" aria-hidden="true"></span> Adresse: @e.Adresse <br />
                <span class="glyphicon glyphicon-credit-card DetailIcon" aria-hidden="true"></span> Pris: @e.Pris
        
       
            </div>
     
        }
    </div>
</div>

