@model EventProjekt.Models.LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>

@using (Html.BeginForm())
{

    @Html.ValidationSummary()
    <fieldset>
        <legend>Login</legend>
        <div class="form-group">
            @Html.LabelFor(p => p.UserName)
            @Html.EditorFor(p => p.UserName)
         
        </div> 

        <div class="form-group">
            @Html.LabelFor(p => p.Password)
            @Html.EditorFor(p => p.Password)
  
        </div> 

        <div class="form-group">
            @Html.LabelFor(p => p.RememberMe)
            @Html.EditorFor(p => p.RememberMe)
   
        </div>  

        <button type="submit">Login</button>
   </fieldset>


}
